<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>tom</string>
		<key>creation_date</key>
		<date>2019-05-20T20:09:28Z</date>
		<key>munki_version</key>
		<string></string>
		<key>os_version</key>
		<string></string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>Production</string>
	</array>
	<key>category</key>
	<string></string>
	<key>description</key>
	<string>Numbers ist die beste Tabellenkalkulations-App, die es je für ein Mobilgerät gab. Numbers wurde exklusiv für iPad, iPhone und iPod touch entwickelt und unterstützt Multi-Touch-Gesten und intelligentes Zoomen, um ausdrucksstarke Tabellenkalkulationen einfach mit dem Finger anzufertigen.

Beginne mit einer der über 30 von Apple gestalteten Vorlagen, z. B. für Budgets, Checklisten, Rechnungen, Hypothekenrechner und mehr. Wähle aus über 250 leistungsstarken Funktionen. Mit dem Apple Pencil kannst du (auf unterstützten Geräten) oder einfach mit dem Finger zeichnen und schreiben. Füge Tabellen, Diagramme, Text und Bilder durch Tippen überall im Arbeitsbereich hinzu. Ordne Spalten und Zeilen neu an und ändere die Größe von Tabellen. Doppeltippe auf eine Zelle, um mit der intelligenten Tastatur Text, Formeln, Datumsangaben, Uhrzeiten oder Zeitdauern einzugeben. Animiere deine Daten mit interaktiven Säulen-, Balken-, Streu- und Blasendiagrammen. Eine neue Engine für Berechnungen macht Numbers schneller als je zuvor.

iCloud ist integriert, sodass deine Tabellenkalkulationen auf allen Geräten immer auf dem neuesten Stand sind. Mit den Funktionen für die Zusammenarbeit kann dein Team in Echtzeit auf einem Mac, iPad, iPhone oder iPod touch und über iWork für iCloud sogar auf einem PC gemeinsam an einem Projekt arbeiten.

Zusammenarbeit in Echtzeit
• Dank dieser Funktion kann dein Team in Echtzeit gemeinsam an einer Tabellenkalkulation arbeiten.
• Diese Funktion ist direkt in Numbers auf dem Mac, iPad, iPhone und iPod touch integriert. 
• PC-Benutzer können mit Numbers für iCloud ebenfalls mitarbeiten.
• Teile Tabellenkalkulationen mit allen oder nur mit bestimmten Personen.
• Sieh jederzeit, wer zusammen mit dir an einer Tabellenkalkulation arbeitet.
• Blende die Zeiger anderer Teilnehmer ein, um deren Änderungen mitzuverfolgen.
• Verfügbar für Tabellenkalkulationen, die in iCloud oder Box gespeichert sind.

Schneller Einstieg
• Über 30 von Apple gestaltete Vorlagen erleichtern die Arbeit mit Tabellenkalkulationen.
• Doppeltippe auf eine Zelle, um die intelligente Tastatur einzublenden und Text, Formeln, Datumsangaben, Uhrzeiten und mehr hinzuzufügen.
• Verwende das neue Aktionsmenü, mit dem du für die wichtigsten Aufgaben nur einmal tippen musst.
• Ordne Spalten und Zeilen neu an und ändere Tabellengrößen – einfach durch Tippen und Ziehen.
• Importiere und bearbeite Microsoft Excel und CSV‑Dateien via Mail, WebDAV-Dienst oder die iTunes-Dateifreigabe.
• Öffne passwortgeschützte Tabellenkalkulationen schnell mit Touch ID auf unterstützten Geräten.

Schöne Tabellenkalkulationen
• Platziere Tabellen, Diagramme, Text und Bilder überall auf der Arbeitsfläche.
• Aktualisiere Tabellen, Diagramme, Texte und Bilder mit vordefinierten Stilen.
• Verwende Donutdiagramme, um Daten auf ansprechende, neue Weise darzustellen.
• Ergänze eine interaktive Bildergalerie, um eine Sammlung von Fotos anzuzeigen.
• Füge Fotos und Videos mit der Medienübersicht ein.
• Optimiere deine Tabellenkalkulationen mit einer Sammlung mit über 700 bearbeitbaren Formen.
• Erstelle Formulare, um Daten unterwegs schnell einzugeben.

Alles ergänzt sich. Wunderbar.
• Wähle aus über 250 leistungsstarken Funktionen.
• Nutze die integrierte Hilfe und Beispielformeln für jede Funktion.
• Verwende intelligente Kategorien, um deine Daten auf innovative Art und Weise darzustellen.
• Gewinne neue Erkenntnisse, indem du Tabellen schnell organisierst und zusammenfasst.
• Sortiere Spalten auf- oder absteigend.
• Blende Zeilen und Spalten ein oder aus.
• Setze attraktive 2D- und 3D-Diagramme ein.
• Animiere Daten mit neuen, interaktiven Säulen-, Balken-, Streu- und Blasendiagrammen.

Einige Funktionen erfordern u. U. Internetzugang. Hierfür können Gebühren anfallen. Es gelten zusätzliche Bedingungen.</string>
	<key>icon_name</key>
	<string>Numbers.png</string>
	<key>installcheck_script</key>
	<string>#!/bin/bash
appName='Numbers'
appVersion='6.0'
appID=409203825
if [ -d "/Applications/${appName}.app" ]; then
    installedVersion=$( defaults read "/Applications/${appName}.app/Contents/Info.plist" CFBundleShortVersionString )
    if [ "$installedVersion" == "$appVersion" ]; then
        exit 1
    fi
fi    
exit 0</string>
	<key>installer_type</key>
	<string>nopkg</string>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Numbers</string>
	<key>preinstall_script</key>
	<string>#!/bin/bash
appName='Numbers'
appVersion='6.0'
appID=409203825
seriennummer=$( system_profiler SPHardwareDataType | grep 'Serial Number (system)' | awk '{print $NF}' )
curl "https://munki.ixpert.at/micromdm/api.py?seriennummer=$seriennummer&amp;appid=$appID&amp;action=installApp"
exit 0</string>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>uninstall_script</string>
	<key>uninstall_script</key>
	<string>"#!/bin/bash
appName='Numbers'
appVersion='6.0'
appID=409203825
rm -R "/Applications/${appName}.app"
seriennummer=$( system_profiler SPHardwareDataType | grep 'Serial Number (system)' | awk '{print $NF}' )
curl "https://munki.ixpert.at/micromdm/api.py?seriennummer=$seriennummer&amp;appid=$appID&amp;action=removeApp"
exit 0</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>6.0</string>
</dict>
</plist>
